.tasks{
    background: #fff;
    border-radius: 5px;
    margin-bottom: 7px;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    position: relative;
}
span{
    cursor: pointer;
}
.tasks .remove{
    margin-left: auto;
}
p.complate{
    text-decoration: line-through;
}